<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 配置全局变量以及依赖 -->
    <!--日志路径 格式：磁盘日志路径+项目组名称，例子：/data/applogs/ccj-->
    <property name="LOG_HOME" value="/data/applogs/lemon" />
    <!-- 应用的名称 -->
    <property name="APP_NAME" value="manage" />
    <!-- 彩色日志 基于springboot,非springboot项目注释掉相关参数 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:--}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- 通用日志格式 日期 日志级别 pid 线程 类 消息 -->
    <property name="MAIN_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} - %5p ${PID:--} --- [%15.15t] %-40.40logger{39} : [%.16X{requestId:--}][%.20X{sessionId:--}][%.20X{userName:--}] %m%n" />

    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 普通log输出 -->
    <appender name="dailyRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}/%d{yyyy,aux}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MAIN_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- error级别错误日志文件 -->
    <appender name="errorDailyRolling" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/${APP_NAME}/${APP_NAME}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>${MAIN_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="dailyRolling" />
        <appender-ref ref="errorDailyRolling" />
    </root>
</configuration>